.theme-white {
    .el-menu--popup {
        .el-menu-item {
            background-color: #fff;

            i, span {
                color: #666;
            }

            &:hover {
                i, span {
                    color: #2778F2;
                }
            }

            &.is-active {
                background-color: #e2eeff;

                &:before {
                    content: '';
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 4px;
                    background: #409eff;
                    position: absolute;
                }

                i, span {
                    color: #2778F2;
                }
            }
        }
    }

    .avue-header,
    .avue-logo,
    .tags-container {
        background-color: #2576e1;
    }

    .avue-sidebar--tip {
        background-color: transparent;
        color: #333;
    }

    .el-dropdown {
        color: #fff;
    }

    .avue-logo_title {
        font-weight: 400;
        color: #fff;
    }

    .logo_title,
    .avue-breadcrumb {
        color: #fff;

        i {
            color: #fff;
        }
    }

    .avue-top {
        .el-menu-item {
            i, span {
                color: #fff;
            }

            &:hover {
                i,
                span {
                    color: #fff;
                }
            }
        }
    }

    .avue-sidebar {
        background-color: #f5f7fa;
        padding-top: 64px;
        font-size: 1rem;

        .el-menu-item, .el-submenu__title {
            i, span {
                color: #666
            }

            &:hover {
                background: transparent;

                i, span {
                    color: #2778F2;
                }
            }

            &.is-active {
                background-color: #e2eeff;

                i, span {
                    color: #2778F2;
                }
            }
        }
    }

    .top-search {
        .el-input__inner {
            color: #333;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #fff;
        }

        input:-moz-placeholder,
        textarea:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #fff;
        }

        input::-moz-placeholder,
        textarea::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #fff;
        }

        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #fff;
        }
    }

    .top-bar__item {
        i[class^="icon-"] {
            color: #fff;
        }
    }
}
